<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name"> Enter name: (required)</label>
    <input type="text" th:field="*{name}" id="name" required minlength="2" maxlength="20"
           pattern="^[a-zA-Zа-яА-ЯёЁ]+$" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <input type="submit" value="CREATE!"/>
</form>
</body>
</html>